<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header ">
    <a class="navbar-brand" href="#">
    <%= image_tag 'logo2.jpg', id: 'Logo' %> Dance School
  </a>
  
    </div>
    <ul class="nav nav-pills navbar-left">
      <li><a href="/main_stage">Home</a></li>
      <li class="active"><a href="/instructors">Instruktorzy</a></li>
      <li><a href="/cours">Kursy</a></li>
      <li><a href="/help">Pomoc</a></li>
    </ul>
    <div class="navbar-right" style="display: flex; align-items: center; margin-left: 10px;">
      <button type="button" class="btn btn-primary btn btn-default navbar-btn"><%= link_to "Zarejestruj się", new_user_registration_path, style:"color:white; text-decoration: none;" %></button>
      <button type="button" class="btn btn-primary btn btn-default navbar-btn"><%= link_to "Zaloguj się", new_user_session_path, style:"color:white; text-decoration: none;" %></button>
    </div>
  </div>
</nav>


<h2 class="text-center my-5">Instruktorzy</h2>

<div class="container my-4">
  <div class="row">
    <% @instructors.each do |user| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-lg border-light rounded">
          <div class="card-body text-center">
            <h5 class="card-title instructor-name">
              <%= user.first_name %> <%= user.last_name %>
            </h5>
            <hr class="instructor-divider">
            <p class="card-text instructor-description"><%= user.description %></p>
            <%= link_to "Pokaż grafik instruktora", instructor_grafik_path(user), class: "btn btn-primary btn-lg", style: "color:white; text-decoration: none;" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<script>

function redirectToMatchingBookmark() {
 
    var searchText = document.getElementById('searchInput').value.toLowerCase();

    var bookmarks = document.querySelectorAll('.bookmark');

    for (var i = 0; i < bookmarks.length; i++) {
        var bookmark = bookmarks[i];
      
        var bookmarkText = bookmark.innerText.toLowerCase();

        if (bookmarkText.includes(searchText)) {
            // Przekieruj do pasującej zakładki
            window.location.href = bookmark.href;
            return;
        }
    }

    alert("Nie znaleziono pasującej zakładki");
}

document.getElementById('searchButton').addEventListener('click', function() {
    redirectToMatchingBookmark();
});

</script>