<div class="container">
<div class="b">
<div id="bookmarksContainer">
<ol>
<li><%= link_to "Home", "/main_stage", class:"bookmark", id: "bookmark1" %></li>
<li><%= link_to "Logowanie", "/login", class:"bookmark" , id: "bookmark4"%></li>
<li><%= link_to "Pomoc", "/help", class:"bookmark", id: "bookmark2" %></li>
<li><%= link_to "Kontakt", "/contact", class:"bookmark", id: "bookmark3" %></li>
</ol>
</div>

</div>
<h1>Dance School</h1>

<div class="search">
<form>
<input type="search" id="searchInput" placeholder="Szukaj na stronie...">
<button type="button" class="button" id="searchButton"><b> 🔎 </b></button>
</form>

</div>

<center><button type="button" class="btn btn-primary btn-lg" style="margin-top: 200px; margin-bottom: 30px;"><%= link_to "Zaloguj się", new_user_session_path, style:"color:white; text-decoration: none;"%>
</button>
<p>Jeśli nie masz jeszcze konta:</p>
<p><button type="button" class="btn btn-primary btn-lg" style="margin-top: 30px;"><%= link_to "Zarejestruj się", new_user_registration_path, style:"color:white; text-decoration: none;" %></button></p></center>

<% if current_user %>
    <p>Hello <%= current_user.email %></p>
    <p>You are a [<%= current_user.role %>]</p>



    <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %>

    <p>You are not signed in</p>

<% end %>

<footer>
    <p>&copy; 2024 Dance School</p>
</footer>

<script>

function redirectToMatchingBookmark() {
 
    var searchText = document.getElementById('searchInput').value.toLowerCase();

    var bookmarks = document.querySelectorAll('.bookmark');

    for (var i = 0; i < bookmarks.length; i++) {
        var bookmark = bookmarks[i];
      
        var bookmarkText = bookmark.innerText.toLowerCase();

        if (bookmarkText.includes(searchText)) {
            // Przekieruj do pasującej zakładki
            window.location.href = bookmark.href;
            return;
        }
    }

    alert("Nie znaleziono pasującej zakładki");
}

document.getElementById('searchButton').addEventListener('click', function() {
    redirectToMatchingBookmark();
});

</script>