<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag 'logo2.jpg', id: 'Logo' %> Dance School
      </a>
    </div>
    <ul class="nav nav-pills navbar-left">
      <li class="active"><a href="/main_stage">Home</a></li>
      <li><a href="/instructors">Instruktorzy</a></li>
      <li><a href="/cours">Kursy</a></li>
      <li><a href="/help">Pomoc</a></li>
    </ul>
    <div class="navbar-right" style="display: flex; align-items: center; margin-left: 10px;">
      <button type="button" class="btn btn-primary btn btn-default navbar-btn">
        <%= link_to "Zarejestruj się", new_user_registration_path, style: "color:white; text-decoration: none;" %>
      </button>
      <button type="button" class="btn btn-primary btn btn-default navbar-btn">
        <%= link_to "Zaloguj się", new_user_session_path, style: "color:white; text-decoration: none;" %>
      </button>
    </div>
  </div>
</nav>
  <div style="text-align: center; margin: 40px 20px;">
    <h2>O aplikacji Dance School</h2>
    <p>
    Dance School to nowoczesne i zaawansowane narzędzie, które zostało stworzone z myślą o szkołach tańca. Ułatwia organizację i zarządzanie codziennymi zadaniami, abyś mógł skupić się na swojej pasji – tańcu! Oto, co umożliwia    </p>
    <ul style="list-style-type: disc; display: inline-block; text-align: left;">
      <li><strong>Planowanie zajęć i grafików:</strong> Szybko i wygodnie zaplanujesz harmonogram dla swoich kursów.</li>
      <li><strong>Zapisy na zajęcia:</strong> Po zalogowaniu możesz zapisać się na wybrane kursy taneczne lub pojedyncze lekcje, jeśli chcesz je najpierw przetestować.</li>
      <li><strong>Przegląd zapisanych kursów:</strong> Sprawdzaj listę kursów, na które jesteś zapisany, i monitoruj swoje postępy.</li>
      <li><strong>Zarządzanie kursami:</strong> Dodawanie nowych kursów i edytowanie istniejących staje się niezwykle proste.</li>
      <li><strong>Profil użytkownika:</strong> Zarządzaj swoimi danymi w jednym miejscu.</li>
    </ul>
    <p>
      Odkryj nowoczesny sposób zarządzania szkołą tańca i skup się na tym, co naprawdę kochasz - tańcu!
    </p>
  </div>

  <div style="text-align: center; margin: 40px 0;">
    <h3>Zarejestruj się już teraz i zacznij korzystać z Dance School!</h3>
    <button class="btn btn-primary" style="font-size: 18px;">
      <%= link_to "Załóż konto", new_user_registration_path, style: "color: white; text-decoration: none;" %>
    </button>
  </div>
</div>

<div style="text-align: center; margin: 20px 0;">
  <%= video_tag 'dance_main_stage.mp4', autoplay: true, loop: true, muted: true, controls: false, size: '80%' %>
</div>



