<div class="container">
<div class="a">
<%= image_tag "logo2.png", height: 90 %>
</div>
<div class="b">
<div id="bookmarksContainer">
<ol>
    <li><%= link_to "Home", "/main_stage", class:"bookmark", id: "bookmark1" %></li>
    <li><%= link_to "Logowanie", "/login", class:"bookmark" , id: "bookmark4"%></li>
    <li><%= link_to "Pomoc", "/help", class:"bookmark", id: "bookmark2" %></li>
    <li><%= link_to "Kontakt", "/contact", class:"bookmark", id: "bookmark3" %></li>
</ol>
</div>

</div>
<h1>Dance School</h1>

<div class="search">
<form>
<input type="search" id="searchInput" placeholder="Szukaj na stronie...">
<button type="button" class="button" id="searchButton"><b>  </b></button>
</form>

</div>

<div class="main">
<center>Witaj w systemie obsugi pracy dyplomowej!</center>

<div class="lewy">
<p>DanceMaster to zaawansowana aplikacja, kt贸ra zostaa stworzona z myl o wacicielach i instruktorach szk贸 taca. 
Nasze narzdzie uatwia codzienne zarzdzanie, organizacj zaj i komunikacj z uczniami, dziki czemu mo偶esz skupi si na tym, co naprawd kochasz tacu!
<span class="tekst">DanceMaster</span> bez ruszania si z domu. </p>
<ul>
  <li>Funkcje DanceMaster:</li>
  <li>Planowanie Zaj: Tw贸rz harmonogramy zaj, przypisuj instruktor贸w i zarzdzaj zapisami uczni贸w w jednym miejscu.</li>
  <li>Rejestracja i Patnoci: Umo偶liwiaj atw rejestracj online oraz zarzdzaj patnociami i fakturami.</li>
  <li>Komunikacja: Wysyaj powiadomienia, wiadomoci i przypomnienia bezporednio do swoich uczni贸w.</li>
    <li>Zarzdzanie Instruktorami: Monitoruj grafiki instruktor贸w, ich dostpno oraz efektywno pracy.</li>
    <li>Analiza i Raportowanie: led藕 postpy, analizuj wyniki finansowe i generuj szczeg贸owe raporty.</li>
</ul>
<p>Zarejestruj si i zobacz, jak DanceMaster mo偶e odmieni Twoj szko taca. Skontaktuj si z nami, aby dowiedzie si wicej lub rozpocz darmowy okres pr贸bny.</p>
</div>

</div>
</div>

<footer>
    <p>&copy; 2024 Dance School</p>
</footer>

<script>

function redirectToMatchingBookmark() {
 
    var searchText = document.getElementById('searchInput').value.toLowerCase();

    var bookmarks = document.querySelectorAll('.bookmark');

    for (var i = 0; i < bookmarks.length; i++) {
        var bookmark = bookmarks[i];
      
        var bookmarkText = bookmark.innerText.toLowerCase();

        if (bookmarkText.includes(searchText)) {
            // Przekieruj do pasujcej zakadki
            window.location.href = bookmark.href;
            return;
        }
    }

    alert("Nie znaleziono pasujcej zakadki");
}

document.getElementById('searchButton').addEventListener('click', function() {
    redirectToMatchingBookmark();
});

</script>