<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header ">
    <a class="navbar-brand" href="#">
    <%= image_tag 'logo2.jpg', id: 'Logo' %> Dance School
  </a>
  
    </div>
    <ul class="nav nav-pills navbar-left">
    <li><a href="/student">Home</a></li>
      <li><a href="/cours">Grafik</a></li>
      <li><a href="/my_course">Moje Zajęcia</a></li>
      <li class="active"><a href="/student_profile">Profil</a></li>
      <li><a href="/student_sign_out">Wyloguj</a></li>
    </ul>
    <form class="navbar-form navbar-right" style="display: flex; align-items: center;">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Szukaj na stronie...">
      </div>
      <button type="submit" class="btn btn-default" id="searchButton"><b> 🔎 </b></button>
    </form>
    <div class="navbar-right" style="display: flex; align-items: center; margin-left: 10px;">
      <button type="button" class="btn btn-primary btn btn-default navbar-btn"><%= link_to "Profil", "/student_profile", style:"color:white; text-decoration: none;" %></button>
<%= button_to "Wyloguj się", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-default navbar-btn", style: "color:white; text-decoration: none;" %>
    </div>
  </div>
</nav>

<div class="search">
<form>
<input type="search" id="searchInput" placeholder="Szukaj na stronie...">
<button type="button" class="button" id="searchButton"><b> 🔎 </b></button>
</form>

</div>


<center>
<div class="card" style="width: 20rem; margin-top:20px;">
  <div class="card-body">
    <h5 class="card-title fw-lighter"><b><span class="badge text-bg-primary" style="font-size:20px">Twój profil</span></b></h5>
    <p class="card-text fw-lighter" style="text-align:left;">Tutaj możesz zobaczyć informacje o swoim profilu.</p>
    <button type="button" class="btn btn-primary btn btn-default navbar-btn"><%= link_to "Edytuj profil", edit_user_registration_path, style:"color:white; text-decoration: none;" %></button>  
    </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item fw-lighter" style="text-align:left;"><span style="font-weight:500">E-mail:</span> <%= current_user.email %></li>
    <li class="list-group-item fw-lighter" style="text-align:left"><span style="font-weight:500">Imię:</span> <%= current_user.first_name %></b></li>
    <li class="list-group-item fw-lighter" style="text-align:left"><span style="font-weight:500">Nazwisko:</span> <%= current_user.last_name %></b></li>
    <li class="list-group-item fw-lighter" style="text-align:left"><span style="font-weight:500">Rola:</span> <%= current_user.role %></b></li>
  </ul>
</div>
</center>

<footer class="footer">
    <p>&copy; 2024 Dance School</p>
</footer>

<script>

function redirectToMatchingBookmark() {
 
    var searchText = document.getElementById('searchInput').value.toLowerCase();

    var bookmarks = document.querySelectorAll('.bookmark');

    for (var i = 0; i < bookmarks.length; i++) {
        var bookmark = bookmarks[i];
      
        var bookmarkText = bookmark.innerText.toLowerCase();

        if (bookmarkText.includes(searchText)) {
            // Przekieruj do pasującej zakładki
            window.location.href = bookmark.href;
            return;
        }
    }

    alert("Nie znaleziono pasującej zakładki");
}

document.getElementById('searchButton').addEventListener('click', function() {
    redirectToMatchingBookmark();
});

</script>
