<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag 'logo2.jpg', id: 'Logo' %> Dance School
      </a>
    </div>
    
    <% nav_links = [] %>
    <% if current_user %>
      <% if current_user.role == 'student' %>
        <% nav_links = [
          { name: 'Home', path: '/student' },
          { name: 'Instruktorzy', path: '/instructors'},
          { name: 'Grafik', path: '/cours' },
        ] %>
        <% dropdown = {
          name: 'Moje Zajęcia',
          items: [
            { name: 'Zapisany na kursy', path: '/my_course' },
            { name: 'Zapisany na lekcje', path: '/my_lesson' }
          ]
        } %>
      <% elsif current_user.role == 'teacher' %>
        <% nav_links = [
          { name: 'Home', path: '/teacher' },
          { name: 'Grafik', path: '/cours' },
          { name: 'Prowadzone Zajęcia', path: '/own_course' },
        
        ] %>
      <% end %>
<% end %>
     <ul class="nav nav-pills navbar-left">
    <% nav_links.each do |link| %>
      <li class="nav-item <%= 'active' if link[:active] %>">
        <a class="nav-link" href="<%= link[:path] %>"><%= link[:name] %></a>
      </li>
    <% end %>

     <% if dropdown %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= dropdown[:name] %>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% dropdown[:items].each_with_index do |item, index| %>
          <li>
            <a class="dropdown-item" href="<%= item[:path] %>"><%= item[:name] %></a>
          </li>
          <% if index < dropdown[:items].length - 1 %>
            <li><hr class="dropdown-divider"></li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
    </ul>

  

    <div class="navbar-right" style="display: flex; align-items: center; margin-left: 10px;">  
        <button type="button" class="btn btn-primary navbar-btn">
          <%= link_to "Profil", current_user.role == 'student' ? "/student_profile" : "/teacher_profile", style: "color:white; text-decoration: none;" %>
        </button>
        <%= button_to "Wyloguj się", destroy_user_session_path, method: :delete, class: "btn btn-primary navbar-btn", style: "color:white; text-decoration: none;" %>
    </div>
  </div>
</nav>

<center><h2>Edytuj Swój Profil</h2>
<div class="container my-5">
    <div class="card shadow-lg p-4 rounded-3" style="width: 800px; transition: transform 0.3s ease, box-shadow 0.3s ease;background-color: #f0f0f5;">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
 
  <div class="row mb-3">
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-text">
        <i class="fas fa-envelope fa-2x"></i>
        <%= f.label :email, "E-mail",style:"font-size:20px; padding-left: 10px;", for: "email" %>
      </span>
      <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email",class: "form-control", placeholder: "Adres e-mail" %>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-text">
        <i class="fas fa-phone fa-2x"></i>
        <%= f.label :phone_number, "Numer telefonu",style:"font-size:20px; padding-left: 10px;", for: "phone_number" %>
      </span>
      <%= f.text_field :phone_number, required: true,   autocomplete: "phone_number",class: "form-control", placeholder: "Numer telefonu" %>
    </div>
  </div>
</div>
  
<div class="input-group mb-3">
<span class="input-group-text">
  <i class="fas fa-map-marker-alt fa-2x" ></i>
  <%= f.label :address, "Adres zamieszkania",style:"font-size:20px; padding-left: 10px;", for: "phone_number" %>
</span>
<%= f.text_field :address, required: true,  autocomplete: "address",class: "form-control", placeholder: "Adres zamieszkania" %>
</div>

<% if current_user.role == 'teacher' %>
<div class="input-group mb-3">
<span class="input-group-text">
  <i class="fas fa-rectangle-list fa-2x" ></i>
  <%= f.label :description, "Opis",style:"font-size:20px; padding-left: 10px;", for: "description" %>
</span>
<%= f.text_field :description, required: true,  autocomplete: "description",class: "form-control", placeholder: "Description" %>
</div>
<% end %>

<% tooltip_text = "Jeżeli nie chcesz zmieniać hasła, pozostaw pole puste. Minimalna długość: #{@minimum_password_length} znaków" %>
<div class="input-group mb-3">
  <span class="input-group-text" 
        data-bs-toggle="tooltip" 
        data-bs-placement="bottom" 
        title="<%= tooltip_text %>">
    <i class="fas fa-lock fa-2x"></i>
    <%= f.label :password, "Hasło", style: "font-size:20px; padding-left: 10px;", for: "password" %>
  </span>
  <%= f.password_field :password, class: "form-control", placeholder: "Hasło" %>
</div>

<div class="input-group mb-3">
<span class="input-group-text">
  <i class="fas fa-lock fa-2x"></i>
  <%= f.label :password_confirmation, "Potwierdź hasło",style:"font-size:20px; padding-left: 10px;", for: "phone_number" %>
</span>
<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Potwierdź hasło" %>
</div>

<div class="input-group mb-3">
<span class="input-group-text " 
        data-bs-toggle="tooltip" 
        data-bs-placement="bottom" 
        title="Wprowadź obecne hasło w celu autoryzacji">
  <i class="fas fa-lock fa-2x"></i>
  <i class="fa-solid fa-exclamation fa-3x"></i>
  <%= f.label :current_password, "Obecne hasło",style:"font-size:20px; padding-left: 10px;", for: "current_password" %>
</span>
<%= f.password_field :current_password, class: "form-control", placeholder: "Obecne hasło" %>
</div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
   <%= f.submit "Zaaktualizuj zmiany" , class: "btn btn-primary btn-lg",style:"color:white; text-decoration: none;"%>
  </div>
<% end %>
 <% if current_user.role == 'admin' %>
<h3>Usuń moje konto</h3>
<div><%= button_to "Usuń moje konto", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete , class: "btn btn-primary btn-lg",style:"color:white; text-decoration: none;"%></div>
<%end %>

<%= link_to "Wróć", :back , class: "btn btn-primary btn-lg",style:"color:white; text-decoration: none;"%>
</center>
</div>
</div>

