<h2>Edytuj Profil <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-floating mb-3" style="margin-top: 30px; margin-bottom: 30px;">
   <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "floatingInput" %><br /> 
   <%= f.label :email, "Adres e-mail", for: "floatingInput" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<i>(Jeżeli nie chcesz zmieniać hasło to pozostaw puste)</i><br />
  <div class="form-floating mb-3" style="margin-top: 30px; margin-bottom: 30px;">
  
  <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "floatingInput" %> 
    <%= f.label :password ,"Hasło", for: "floatingInput"%> 
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> minimum znaków</em>
    <% end %>
  </div>

  <div class="form-floating mb-3" style="margin-top: 30px; margin-bottom: 30px;">
     <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control", id: "floatingInput"%>
     <%= f.label :password_confirmation ,"Potwierdź Hasło", for: "floatingInput"%><br />
  </div>

  <div class="form-floating mb-3" style="margin-top: 30px; margin-bottom: 30px;">
     <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", id: "floatingInput" %>
     <%= f.label :current_password , "Obecne Hasło", for: "floatingInput"%> <br />
  </div>

  <div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
    <center><%= f.submit "Zaaktualizuj zmiany" , class: "btn btn-primary btn-lg",style:"color:white; text-decoration: none;"%></center>
  </div>
<% end %>

<center><h3>Usuń moje konto</h3></center>

<center><div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete , class: "btn btn-primary btn-lg",style:"color:white; text-decoration: none;"%></div></center>

<center><%= link_to "Back", :back , class: "btn btn-primary btn-lg",style:"color:white; text-decoration: none;"%></center>