<div class="container my-4" style="max-width: 900px; padding-left: 30px; padding-right: 30px;">
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-4" id="<%= dom_id lesson %>">
      <div class="card lesson-card" style="min-height: 150px; min-width: 200px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);">
        <div class="card-header lesson-card-header">
          <h5 class="mb-0">
            <center><%= lesson.name %></center>
          </h5>
        </div>
        <div class="card-body d-flex align-items-center justify-content-between">
          <div class="lesson-details pr-3" style="flex: 1;">
          <div class="row"> 
          <p>
              <i class="fas fa-clock" data-bs-toggle="tooltip" title="Godzina"></i>
              <%= lesson.date.strftime("%H:%M") %>
            </p>
            <p>
            <i class="fas fa-id-badge" data-bs-toggle="tooltip" title="Liczba wolnych miejsc"></i>
            <%= lesson.number_of_additional_places %>
          </p>
            </div>
            <p>
              <i class="fas fa-calendar-alt" data-bs-toggle="tooltip" title="Data"></i>
<%= lesson.date.strftime("%d-%m-%Y") %>
            </p>
          </div>

         
          <% if current_user && !lesson.users.include?(current_user) %>
          <%= form_with url: enroll_lesson_path(lesson), method: :post do %>
            <% if current_user && current_user.role == 'student' %> 
              <div class="text-right" style="flex-shrink: 0;">
                <center>
                  <div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
                    <%= submit_tag "Zapisz się", class: "btn btn-primary", style: "color:white; text-decoration: none;"%>
                  </div>
                </center>
              </div>
            <% end %>
              
          <% end %>
        <% elsif current_user && lesson.users.include?(current_user) %>
          <%= form_with url: unenroll_lesson_path(lesson), method: :post do %>
            <div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
              <%= submit_tag "Wypisz się ", class: "btn btn-danger", style: "color:white; text-decoration: none;" %>
            </div>
          <% end %>
        <% end %>
        <% if current_user && current_user.role == 'teacher' %> 
              <div class="text-right" style="flex-shrink: 0;">
                <center>
                  <div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
                    <%= link_to "Podgląd", lesson, class: "btn btn-primary", style: "color:white; text-decoration: none;"%>
                    </div>
                </center>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>