<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag 'logo2.jpg', id: 'Logo' %> Dance School
      </a>
    </div>
    <ul class="nav nav-pills navbar-left">
    <li><a href="/teacher">Home</a></li>
      <li class="active"><a href="/cours">Grafik</a></li>
      <li><a href="/own_course">Prowadzone Zajęcia</a></li>
    </ul>
    <div class="navbar-right" style="display: flex; align-items: center; margin-left: 10px;">
      <button type="button" class="btn btn-primary btn btn-default navbar-btn">
        <%= link_to "Profil", "/student_profile", style: "color:white; text-decoration: none;" %>
      </button>
      <%= button_to "Wyloguj się", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-default navbar-btn", style: "color:white; text-decoration: none;" %>
    </div>
  </div>
</nav>

<h2><%= @lesson.name %></h2>
<div class="d-flex justify-content-end" style="margin-right: 30px;margin-top: -50px; margin-bottom: 20px;">
  <%= link_to courses_path, 
              class: "btn btn-primary btn-lg me-2", 
              style: "color: white; text-decoration: none;" do%>
    <i class="fa-regular fa-circle-left"></i> Wróć
  <% end %>
  </div>
<p><strong>Data:</strong> <%= @lesson.date.strftime("%d-%m-%Y") %></p>
<p><strong>Godzina:</strong> <%= @lesson.date.strftime("%H:%M") %></p>
<p><strong>Dostępne wolne miejsca na lekcje:</strong> <%= @lesson.number_of_additional_places %></p>

<h2 class="text-primary">Zapisani kursanci</h2>
<table class="table table-bordered table-pink">
  <thead class="bg-pink text-white">
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Numer telefonu</th>
    </tr>
  </thead>
  <tbody>
    <% if @courses.users.present? %> 
      <% @courses.users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone_number %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4" class="text-center">Brak zapisanych kursantów na stałe na kurs.</td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2 class="text-primary">Zapisani kursanci na tą lekcję</h2>
<table class="table table-bordered table-pink">
  <thead class="bg-pink text-white">
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Numer telefonu</th>
    </tr>
  </thead>
  <tbody>
    <% @lesson.users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>
