<h2><%= @lesson.name %></h2>
<p><strong>Date:</strong> <%= @lesson.date.strftime("%B %d, %Y at %I:%M %p") %></p>
<p><strong>Available Spots:</strong> <%= @lesson.number_of_additional_places %></p>

<h2 class="text-primary">Zapisani kursanci</h2>
<table class="table table-striped table-pink">
  <thead class="bg-pink text-white">
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Numer telefonu</th>
    </tr>
  </thead>
  <tbody>
    <% if @courses.users.present? %> 
      <% @courses.users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone_number %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4" class="text-center">Brak zapisanych kursantów na stałe na kurs.</td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3 class="text-primary">Zapisani kursanci na tą lekcję</h3>
<table class="table table-bordered table-pink">
  <thead class="bg-pink text-white">
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Numer telefonu</th>
    </tr>
  </thead>
  <tbody>
    <% @lesson.users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user && !@lesson.users.include?(current_user) %>
  <%= form_with url: enroll_lesson_path(@lesson), method: :post do %>
    <%= submit_tag "Zapisz się na lekcje" %>
  <% end %>
<% else %>
  <p>Jesteś zapisany na tą lekcje.</p>
<% end %>

<%= link_to 'Wróć do kursów', course_path(@lesson.course) %>

<footer class="footer">
    <p>&copy; 2024 Dance School</p>
</footer>