<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header ">
    <a class="navbar-brand" href="#">
    <%= image_tag 'logo2.jpg', id: 'Logo' %> Dance School
  </a>
  
    </div>
    <ul class="nav nav-pills navbar-left">
    <li><a href="/main_stage">Home</a></li>
    <li><a href="/instructors">Instruktorzy</a></li>
      <li><a href="/cours">Kursy</a></li>
      <li><a href="/help">Pomoc</a></li>
      <li><a href="/contact">Kontakt</a></li>
    </ul>
    <div class="navbar-right" style="display: flex; align-items: center; margin-left: 10px;">
      <button type="button" class="btn btn-primary btn btn-default navbar-btn"><%= link_to "Zarejestruj się", new_user_registration_path, style:"color:white; text-decoration: none;" %></button>
      <button type="button" class="btn btn-primary btn btn-default navbar-btn"><%= link_to "Zaloguj się", new_user_session_path, style:"color:white; text-decoration: none;" %></button>
    </div>
  </div>
</nav>
<center><h2>Zaloguj się</h2>
<div class="container my-5 ">
    <div class="card shadow-lg p-4 rounded-3" style="width: 800px; transition: transform 0.3s ease, box-shadow 0.3s ease;background-color: #f0f0f5;">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { method: :post }) do |f| %>
  
   <div class="input-group mb-4">
   <span class="input-group-text">
  <i class="fas fa-envelope fa-2x"></i>
  <%= f.label :email,"E-mail",style:"font-size:20px; padding-left: 10px;", for: "email" %>
  </span>
     <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-control",placeholder:"Adres e-mail" %>
    
  </div>

  <div class="input-group mb-4">
  <span class="input-group-text">
 <i class="fas fa-envelope fa-2x"></i> 
     <%= f.label :password, "Hasło",style:"font-size:20px; padding-left: 10px;", for: "password" %> 
     </span>
 <%= f.password_field :password, required: true, autocomplete: "current-password", class: "form-control", placeholder:"Hasło" %>
    
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
    <%= f.submit "Zaloguj się" , class: "btn btn-primary btn-lg",style:"color:white; text-decoration: none;"%>
  </div>
<% end %>
    </div>
  </div>
</center>
<%= render "devise/shared/links" %>

<footer class="footer">
    <p>&copy; 2024 Dance School</p>
</footer>
