
<div id="<%= dom_id course %>">

<div class="container my-4">
  <div id="<%= dom_id course %>" class="card course-card">
    <div class="card-header course-card-header">
      <h5 class="mb-0">
        <%= course.name %>
      </h5>
    </div>
    <div class="card-body">
      <h6 class="course-card-title"><strong>Opis:</strong></h6>
      <p class="course-card-text">
        <%= course.description %>
      </p>

      <h6 class="course-card-title"><strong>Liczba miejsc:</strong></h6>
      <p class="course-card-text">
        <%= course.number_of_place %>
      </p>

      <h6 class="course-card-title"><strong>Poziom:</strong></h6>
      <p class="course-card-text">
        <%= course.level %>
      </p>

      <h6 class="course-card-title"><strong>Data rozpoczęcia:</strong></h6>
      <p class="course-card-text">
        <%= course.start_date %>
      </p>
    </div>
  </div>
</div>



</div>
