<div class="container my-4" style="max-width: 850px; margin: 0 auto; padding-left: 30px; padding-right: 30px;">
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-4" id="<%= dom_id course %>">
      <div class="card course-card" style="min-height: 400px; min-width: 700px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);">
        <div class="card-header course-card-header">
          <h5 class="mb-0">
            <center><%= course.name %></center>
          </h5>
        </div>
        <div class="card-body d-flex align-items-start">
          <div class="course-details pr-3" style="flex: 1; text-align: left;">
            <p style="text-align: center;">
              <i class="fas fa-rectangle-list" data-bs-toggle="tooltip" title="Opis"></i>
              <%= course.description %>
            </p>

            <p>
              <i class="fas fa-calendar-alt" data-bs-toggle="tooltip" title="Data rozpoczęcia"></i>
              <%= course.start_date.strftime("%Y-%m-%d") %>
            </p>
            <p>
              <i class="fas fa-chalkboard-teacher" data-bs-toggle="tooltip" title="Instruktor"></i>
              <%= course.instructor&.first_name %> <%= course.instructor&.last_name %>
            </p>
            <p>
              <i class="fas fa-gem" data-bs-toggle="tooltip" title="Poziom"></i>
              <%= course.level %>
            </p>
            <p>
              <i class="fas fa-heart" data-bs-toggle="tooltip" title="Liczba lekcji"></i>
              <%= course.number_of_lessons %>
            </p>
            <p>
              <i class="fas fa-calendar-day" data-bs-toggle="tooltip" title="Dzień"></i>
              <%= ["Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota"][course.weekday] %>
            </p>
            <p>
              <i class="fas fa-clock" data-bs-toggle="tooltip" title="Godzina"></i>
              <%= course.start_date.strftime("%H:%M") %>
            </p>
            <p>
              <i class="fas fa-user" data-bs-toggle="tooltip" title="Rodzaj tańca"></i>
              <%= course.is_pair == 0 ? "Taniec w parze" : "Taniec solo" %>
            </p>
            <p>
              <i class="fas fa-id-badge" data-bs-toggle="tooltip" title="Liczba wolnych miejsc"></i>
              <%= course.number_of_place %>
            </p>
          </div>
          <div class="course-details pr-4" style="flex-shrink: 0; margin-left: 20px; text-align: left;">
            <% image_name = "#{course.name.parameterize}.jpg" %>
            <% image_path = Rails.root.join("app", "assets", "images", image_name) %>
            <% image_to_display = File.exist?(image_path) ? image_name : "dance.jpg" %>
            <%= image_tag(image_to_display, alt: "Obrazek związany z kursem", class: "img-fluid", style: "max-width: 150px; height: auto;") %>
            <p>
<% if current_user && !course.users.include?(current_user) %>
  <%= form_with url: course_course_registrations_path(@course), method: :post do %>
    <% if current_user && current_user.role == 'student' %>
   <div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
    <%= submit_tag "Zapisz się na kurs" , class: "btn btn-primary btn-lg",style:"color:white; text-decoration: none;" %>
  <% end %>
  <% end %>
  <% elsif current_user && course.users.include?(current_user) %>
  <%= form_with url: unenroll_course_path(course), method: :post do %>
    <div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
      <%= submit_tag "Wypisz się z kursu", class: "btn btn-danger btn-lg", style: "color:white; text-decoration: none;" %>
    </div>
  <% end %> 
  <% else %>
  <p>Zaloguj się, aby zapisać się na kurs.</p>
<% end %>
    </p>  
     </div> 
        </div>
      </div>
    </div>
  </div>
</div>
