<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Namberofplace:</strong>
    <%= course.namberOfPlace %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= course.startDate %>
  </p>

</div>
