
<div id="<%= dom_id course %>">
</div>
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Namberofplace:</strong>
    <%= course.namber_of_place %>
  </p>

  <p>
  <strong>Level:</strong>
  <%= course.level %>
</p>

  <p>
    <strong>Startdate:</strong>
    <%= course.start_date %>
  </p>

</div>
