
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag 'logo2.jpg', id: 'Logo' %> Dance School
      </a>
    </div>
    
    <% nav_links = [] %>
    <% if current_user %>
      <% if current_user.role == 'student' %>
        <% nav_links = [
          { name: 'Home', path: '/student' },
          { name: 'Grafik', path: '/cours' , active: true},
          { name: 'Moje Zajęcia', path: '/my_course' },
          { name: 'Profil', path: '/student_profile' },
          { name: 'Wyloguj', path: '/student_sign_out' }
        ] %>
      <% elsif current_user.role == 'teacher' %>
        <% nav_links = [
          { name: 'Home', path: '/teacher' },
          { name: 'Grafik', path: '/cours', active: true },
          { name: 'Prowadzone Zajęcia', path: '/own_course' },
          { name: 'Profil', path: '/teacher_profile' },
          { name: 'Wyloguj', path: '/teacher_sign_out' }
        ] %>
      <% end %>
    <% else %>
      <% nav_links = [
        { name: 'Home', path: '/main_stage' },
        { name: 'Instruktorzy', path: '/instructors' },
        { name: 'Kursy', path: '/cours', active: true },
        { name: 'Pomoc', path: '/help' },
        { name: 'Kontakt', path: '/contact' }
      ] %>
    <% end %>

    <ul class="nav nav-pills navbar-left">
      <% nav_links.each do |link| %>
        <li class="<%= 'active' if link[:active] %>">
          <a href="<%= link[:path] %>"><%= link[:name] %></a>
        </li>
      <% end %>
    </ul>

    <form class="navbar-form navbar-right" style="display: flex; align-items: center;">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Szukaj na stronie...">
      </div>
      <button type="submit" class="btn btn-default" id="searchButton"><b> 🔎 </b></button>
    </form>

    <div class="navbar-right" style="display: flex; align-items: center; margin-left: 10px;">
      <% if current_user %>
        <button type="button" class="btn btn-primary navbar-btn">
          <%= link_to "Profil", current_user.role == 'student' ? "/student_profile" : "/teacher_profile", style: "color:white; text-decoration: none;" %>
        </button>
        <%= button_to "Wyloguj się", destroy_user_session_path, method: :delete, class: "btn btn-primary navbar-btn", style: "color:white; text-decoration: none;" %>
      <% else %>
        <button type="button" class="btn btn-primary navbar-btn">
          <%= link_to "Zarejestruj się", new_user_registration_path, style: "color:white; text-decoration: none;" %>
        </button>
        <button type="button" class="btn btn-primary navbar-btn">
          <%= link_to "Zaloguj się", new_user_session_path, style: "color:white; text-decoration: none;" %>
        </button>
      <% end %>
    </div>
  </div>
</nav>


<p style="color: green"><%= notice %></p>

<h1>Kursy</h1>
<% if current_user && current_user.role == 'teacher' %>
<center><div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
<%= link_to "New course", new_course_path , class: "btn btn-primary btn-lg",style:"color:white; text-decoration: none;"%>
<% end %>
<center><div  id="courses">
  <% @courses.each do |course| %>
    <%= render course %>
    <p>
   <div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
      <%= link_to "Show this course", course , class: "btn btn-primary btn-lg",style:"color:white; text-decoration: none;" %>
    </p>
  <% end %>
</div>

<footer class="footer">
    <p>&copy; 2024 Dance School</p>
</footer>