
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag 'logo2.jpg', id: 'Logo' %> Dance School
      </a>
    </div>
    
    <% nav_links = [] %>
    <% if current_user %>
    <% if current_user.role == 'student' %>
    <% nav_links = [
      { name: 'Home', path: '/student' },
      { name: 'Grafik', path: '/cours', active: true }
    ] %>
  
    <% dropdown = {
      name: 'Moje Zajęcia',
      items: [
        { name: 'Zapisany na kursy', path: '/my_course' },
        { name: 'Zapisany na lekcje', path: '/my_lesson' }
      ]
    } %>
 
      <% elsif current_user.role == 'teacher' %>
        <% nav_links = [
          { name: 'Home', path: '/teacher' },
          { name: 'Grafik', path: '/cours', active: true },
          { name: 'Prowadzone Zajęcia', path: '/own_course' },
        ] %>
      <% end %>
    <% else %>
      <% nav_links = [
        { name: 'Home', path: '/main_stage' },
        { name: 'Instruktorzy', path: '/instructors' },
        { name: 'Kursy', path: '/cours', active: true },
        { name: 'Pomoc', path: '/help' },
      ] %>
    <% end %>

    <ul class="nav nav-pills navbar-left">
    <% nav_links.each do |link| %>
      <li class="nav-item <%= 'active' if link[:active] %>">
        <a class="nav-link" href="<%= link[:path] %>"><%= link[:name] %></a>
      </li>
    <% end %>

     <% if dropdown %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= dropdown[:name] %>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% dropdown[:items].each_with_index do |item, index| %>
          <li>
            <a class="dropdown-item" href="<%= item[:path] %>"><%= item[:name] %></a>
          </li>
          <% if index < dropdown[:items].length - 1 %>
            <li><hr class="dropdown-divider"></li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
    </ul>
    <div class="navbar-right" style="display: flex; align-items: center; margin-left: 10px;">
      <% if current_user %>
        <button type="button" class="btn btn-primary navbar-btn">
          <%= link_to "Profil", current_user.role == 'student' ? "/student_profile" : "/teacher_profile", style: "color:white; text-decoration: none;" %>
        </button>
        <%= button_to "Wyloguj się", destroy_user_session_path, method: :delete, class: "btn btn-primary navbar-btn", style: "color:white; text-decoration: none;" %>
      <% else %>
        <button type="button" class="btn btn-primary navbar-btn">
          <%= link_to "Zarejestruj się", new_user_registration_path, style: "color:white; text-decoration: none;" %>
        </button>
        <button type="button" class="btn btn-primary navbar-btn">
          <%= link_to "Zaloguj się", new_user_session_path, style: "color:white; text-decoration: none;" %>
        </button>
      <% end %>
    </div>
  </div>
</nav>


<div style="display: flex; align-items: center; justify-content: center; position: relative; margin-bottom: 20px;">
  <h2 style="text-align: center; flex: 1;">Kursy</h2>
  <% if current_user && current_user.role == 'teacher' %>
  <div class="actions" style="position: relative; right: 80px;">
    <%= link_to new_course_path, class: "btn btn-primary btn-lg", style: "color: white; text-decoration: none;", data: { bs_toggle: "tooltip" }, title: "Dodaj nowy kurs" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
<% end %>
</div>


<% days_of_week = {
  1 => "Kursy w poniedziałek",
  2 => "Kursy we wtorek",
  3 => "Kursy w środę",
  4 => "Kursy w czwartek",
  5 => "Kursy w piątek",
  6 => "Kursy w sobotę",
  0 => "Kursy w niedzielę"
} %>

<% @courses.order(:weekday).group_by(&:weekday).each do |weekday, courses| %>
  <% if days_of_week[weekday] %>  
    <center><div class="day-header" style="background-color: #f8f9fa; padding: 10px; margin-top: 20px; border: 1px solid #ddd;">
      <h3 style="margin: 0; color: #333;"><%= days_of_week[weekday] %></h3>
    </div></center>
    <div class="row">
      <% courses.each do |course| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <%= render partial: 'course', locals: { course: course } %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>


 



