<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag 'logo2.jpg', id: 'Logo' %> Dance School
      </a>
    </div>
    
    <% nav_links = [] %>
    <% if current_user %>
      <% if current_user.role == 'student' %>
        <% nav_links = [
          { name: 'Home', path: '/student' },
          { name: 'Grafik', path: '/cours' },
          { name: 'Moje Zajęcia', path: '/my_course' },
        ] %>
      <% elsif current_user.role == 'teacher' %>
        <% nav_links = [
          { name: 'Home', path: '/teacher' },
          { name: 'Grafik', path: '/cours' },
          { name: 'Prowadzone Zajęcia', path: '/own_course' },
        ] %>
      <% end %>
    <% else %>
      <% nav_links = [
        { name: 'Home', path: '/main_stage' },
        { name: 'Instruktorzy', path: '/instructors' },
        { name: 'Kursy', path: '/cours', active: true },
        { name: 'Pomoc', path: '/help' },
      ] %>
    <% end %>

    <ul class="nav nav-pills navbar-left">
      <% nav_links.each do |link| %>
        <li class="<%= 'active' if link[:active] %>">
          <a href="<%= link[:path] %>"><%= link[:name] %></a>
        </li>
      <% end %>
    </ul>


    <div class="navbar-right" style="display: flex; align-items: center; margin-left: 10px;">
      <% if current_user %>
        <button type="button" class="btn btn-primary navbar-btn">
          <%= link_to "Profil", current_user.role == 'student' ? "/student_profile" : "/teacher_profile", style: "color:white; text-decoration: none;" %>
        </button>
        <%= button_to "Wyloguj się", destroy_user_session_path, method: :delete, class: "btn btn-primary navbar-btn", style: "color:white; text-decoration: none;" %>
      <% else %>
        <button type="button" class="btn btn-primary navbar-btn">
          <%= link_to "Zarejestruj się", new_user_registration_path, style: "color:white; text-decoration: none;" %>
        </button>
        <button type="button" class="btn btn-primary navbar-btn">
          <%= link_to "Zaloguj się", new_user_session_path, style: "color:white; text-decoration: none;" %>
        </button>
      <% end %>
    </div>
  </div>
</nav>

<p style="color: green"><%= notice %></p>

<center><h2>Kurs</h2></center>
<div class="d-flex justify-content-end" style="margin-right: 30px;margin-top: -50px; margin-bottom: 20px;">
  <%= link_to courses_path, 
              class: "btn btn-primary btn-lg me-2", 
              style: "color: white; text-decoration: none;" do%>
    <i class="fa-regular fa-circle-left"></i> Wróć
  <% end %>

  <% if current_user && current_user.role == 'teacher' %>
    <%= link_to edit_course_path(@course), 
                class: "btn btn-warning btn-lg me-2", 
                style: "color: white; text-decoration: none;" do%>
      <i class="fa-regular fa-pen-to-square"></i> Edytuj
    <% end %>

    <%= button_to @course, 
                  method: :delete, 
                  class: "btn btn-danger btn-lg", 
                  style: "color: white; text-decoration: none;" do %>
      <i class="fa-regular fa-trash-can"></i> Usuń
    <% end %>
  <% end %>
</div>
 
<%= render 'course_detail', course: @course %>
 </div>
<% if current_user && current_user.role == 'teacher' %>
<h2 class="text-primary">Zapisani kursanci</h2>
<table class="table table-striped table-pink" style="min-height: 50px; max-width: 1200px;">

  <thead class="bg-pink text-white">
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Numer telefonu</th>
    </tr>
  </thead>
  <tbody>
  <% if @course.users.present? %> 
  <% @course.users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone_number %></td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="4" class="text-center">Brak zapisanych kursantów na stałe na kurs.</td>
  </tr>
<% end %>
</tbody>
</table>

<% end %>

<center><h2>Poszczególne lekcje dla <%= @course.name %></h2>
  <% @course.lessons.each do |lesson| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
<%= render lesson %>
        </div>
  <% end %>
<div>
</center>



  

