<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag 'logo2.jpg', id: 'Logo' %> Dance School
      </a>
    </div>
    
    <% nav_links = [] %>
    <% if current_user %>
      <% if current_user.role == 'student' %>
        <% nav_links = [
          { name: 'Home', path: '/student' },
          { name: 'Grafik', path: '/cours' },
          { name: 'Moje Zajcia', path: '/my_course' },
          { name: 'Profil', path: '/student_profile' },
          { name: 'Wyloguj', path: '/student_sign_out' }
        ] %>
      <% elsif current_user.role == 'teacher' %>
        <% nav_links = [
          { name: 'Home', path: '/teacher' },
          { name: 'Grafik', path: '/cours' },
          { name: 'Prowadzone Zajcia', path: '/own_course' },
          { name: 'Profil', path: '/teacher_profile' },
          { name: 'Wyloguj', path: '/teacher_sign_out' }
        ] %>
      <% end %>
    <% else %>
      <% nav_links = [
        { name: 'Home', path: '/main_stage' },
        { name: 'Instruktorzy', path: '/instructors' },
        { name: 'Kursy', path: '/cours', active: true },
        { name: 'Pomoc', path: '/help' },
        { name: 'Kontakt', path: '/contact' }
      ] %>
    <% end %>

    <ul class="nav nav-pills navbar-left">
      <% nav_links.each do |link| %>
        <li class="<%= 'active' if link[:active] %>">
          <a href="<%= link[:path] %>"><%= link[:name] %></a>
        </li>
      <% end %>
    </ul>

    <form class="navbar-form navbar-right" style="display: flex; align-items: center;">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Szukaj na stronie...">
      </div>
      <button type="submit" class="btn btn-default" id="searchButton"><b>  </b></button>
    </form>

    <div class="navbar-right" style="display: flex; align-items: center; margin-left: 10px;">
      <% if current_user %>
        <button type="button" class="btn btn-primary navbar-btn">
          <%= link_to "Profil", current_user.role == 'student' ? "/student_profile" : "/teacher_profile", style: "color:white; text-decoration: none;" %>
        </button>
        <%= button_to "Wyloguj si", destroy_user_session_path, method: :delete, class: "btn btn-primary navbar-btn", style: "color:white; text-decoration: none;" %>
      <% else %>
        <button type="button" class="btn btn-primary navbar-btn">
          <%= link_to "Zarejestruj si", new_user_registration_path, style: "color:white; text-decoration: none;" %>
        </button>
        <button type="button" class="btn btn-primary navbar-btn">
          <%= link_to "Zaloguj si", new_user_session_path, style: "color:white; text-decoration: none;" %>
        </button>
      <% end %>
    </div>
  </div>
</nav>

<p style="color: green"><%= notice %></p>
<h1>Kurs</h1>
<% if current_user && current_user.role == 'teacher' %>
<center><div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
  <%= link_to "Edytuj kurs", edit_course_path(@course) , class: "btn btn-primary btn-lg",style:"color:white; text-decoration: none;" %> 
  <% end %>
  <center><div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
  <%= link_to "Wr贸 do kurs贸w" , courses_path , class: "btn btn-primary btn-lg",style:"color:white; text-decoration: none;" %>

<%= render @course %>

  <% if current_user && !@course.users.include?(current_user) %>
  <%= form_with url: course_course_registrations_path(@course), method: :post do %>
    <% if current_user && current_user.role == 'student' %>
    <center><div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
    <%= submit_tag "Zapisz si na kurs" , class: "btn btn-primary btn-lg",style:"color:white; text-decoration: none;" %>
  <% end %>
  <% end %>
<% if current_user && current_user.role == 'teacher' %>
<h2 class="text-primary">Zapisani kursanci</h2>
<table class="table table-striped table-pink">
  <thead class="bg-pink text-white">
    <tr>
      <th>Imi</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Numer telefonu</th>
    </tr>
  </thead>
  <tbody>
  <% if @course.users.present? %> 
  <% @course.users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone_number %></td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="4" class="text-center">Brak zapisanych kursant贸w na stae na kurs.</td>
  </tr>
<% end %>
</tbody>
</table>

<% end %>


<h2>Poszczeg贸lne lekcje dla <%= @course.name %></h2>

<ul>
  <% @course.lessons.each do |lesson| %>
    <li>
      <%= link_to lesson.name, lesson_path(lesson) %> - <%= lesson.date.strftime("%B %d, %Y at %I:%M %p") %>
      <% if current_user && !lesson.users.include?(current_user) %>
        <%= form_with url: enroll_lesson_path(lesson), method: :post do %>
          <% if current_user && current_user.role == 'student' %>
          <center><div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
          <%= submit_tag "Zapisz si na lekcje", class: "btn btn-primary btn-lg",style:"color:white; text-decoration: none;" %>
  <% end %>
  <% end %>
      <% else %>
      <% if current_user && lesson.users.include?(current_user) %>
      <%= form_with url: unenroll_lesson_path(lesson), method: :post do %>
        <div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
          <%= submit_tag "Wypisz si z lekcji", class: "btn btn-danger btn-lg", style: "color:white; text-decoration: none;" %>
        </div>
      <% end %>
    <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<div>

<% elsif current_user && @course.users.include?(current_user) %>
  <p>Jeste zapisany na kurs.</p>
  <%= form_with url: unenroll_course_path(@course), method: :post do %>
    <div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
      <%= submit_tag "Wypisz si z kursu", class: "btn btn-danger btn-lg", style: "color:white; text-decoration: none;" %>
    </div>
  <% end %>

<% else %>
  <p>Zaloguj si, aby zapisa si na kurs.</p>
<% end %>
<% if current_user && current_user.role == 'teacher' %>
<center><div class="actions" style="margin-top: 30px; margin-bottom: 20px;">
  <%= button_to "Usu kurs" , @course, method: :delete  , class: "btn btn-primary btn-lg",style:"color:white; text-decoration: none;"%>
  <% end %>
  </div>

  

