<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="turbo-visit-control" content="reload">

<title>Dance School</title>
<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<link rel="icon" type="image.jpg" href="assets/logo2.jpg">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<style>

.flash-messages {
  position: fixed;
  top: 3px;
  right: 50px;
  margin-top:40px;
  z-index: 1000;
  width: 300px;
  padding: 20px;
  text-align: center;
  visibility: visible; /* Ustawienie widoczności na początku */
  opacity: 1; /* Ustawienie pełnej przejrzystości na początku */
  animation: fadeOut 3s forwards; /* Dodaj animację fadeOut z czasem trwania 3 sekund */
}

@keyframes fadeOut {
  0% { opacity: 1; } /* Początkowa wartość przezroczystości */
  90% { opacity: 1; } /* Utrzymaj pełną przejrzystość do 90% animacji */
  100% { opacity: 0; visibility: hidden; } /* Końcowa wartość przezroczystości i ukrycie elementu */
}

  .flash-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
  }

  .flash-success {
    background-color: #28a745; /* zielony */
    color: #fff;
  }

  .flash-error {
    background-color: #dc3545; /* czerwony */
    color: #fff;
  }

body { background-color:#ebc5fa;
font-family: 'Merriweather', serif;
}
h2 {
  font-family: Dancing Script, cursive;
  font-weight: 900;
}

  .footer {
            position: fixed;
            bottom: 0;
            text-align: center;
            width: 100%;
            height: 60px; 
            line-height: 60px; 
            background-color: #bfeaff;
          }
img#Logo{
height:200%;
width:auto;
display: inline;
margin-top: -10px;
}
  .navbar-nav > li {
    display: inline-block; 
  }
  .navbar-nav {
    display: inline-block;
    float: none; 
    margin:10px;
    gap: 15px;
  }
  .navbar-nav > li:hover {
    color: #ffeb3b !important; 
    background-color: #e91e63 !important; 
}
  .navbar {
      background-color:  #a970d4;
      color: #ffeb3b ;
      border-color: #e7e7e7;   
      display: block !important;  
    }
    .navbar-nav > li.active > a{
    background-color: #fcfcfc !important;  
    color: #000 !important;       
}
.navbar-nav > li > a {
  color: #000000 !important; 
}
.navbar-nav > li:hover > a {
            color: #ffeb3b !important; 
            background-color: #e91e63 !important; 
        }
        .navbar-brand {
          color:  #ffeb3b !important; 
            
        }

        .navbar > .container-fluid{
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important; 
display: block !important;
        }

        .navbar-brand {
  padding-left: 20px; 
}

.navbar-right {
  margin-left: auto; 
  margin-right: 20px; 
}

.navbar-right .btn {
  margin-right: 10px; 
}

.nav-pills {
  margin-top:7px !important;
  margin-left:17px !important;
}

.nav-item {
  position: relative; 
}

.nav-item .nav-link {
  padding: 15px 25px; /* Zwiększa przestrzeń wewnątrz przycisku */
  line-height: 1.3; /* Ustawia proporcje wysokości */
  border-radius: 10px; /* Zaokrąglenie przycisku */
}


.dropdown-menu {
  background-color:  #a970d4 !important; /* Tło takie jak inne pilsy */
  color: #ffeb3b !important;
  position: absolute; 
  width: 100%; /* Szerokość taka sama jak rodzica */
  background-color: #3b77ba; /* Kolor jak aktywny przycisk */
  border-radius: 10px; /* Zaokrąglone rogi */
  padding: 10; /* Usuń marginesy */
  border: ; /* Usuń obramowanie */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Delikatny cień */
}

.dropdown-item {
  background-color:  #a970d4 !important; /* Tło takie jak inne pilsy */
  color: #ffeb3b !important;
  width: 40 px;
  color: #ffffff; /* Tekst biały */
  padding: 15px 20px; /* Dostosowanie przestrzeni */
}


.nav-item .nav-link {
  background-color:  #a970d4 !important; /* Tło takie jak inne pilsy */
  color: #ffeb3b !important; /* Kolor tekstu jak w innych przyciskach */
  padding: 10px 15px; /* Dopasowanie rozmiaru do innych pilsów */
  border-radius: 10px; /* Zaokrąglenie */
  transition: all 0.3s ease; /* Łagodna animacja zmiany stylu */
}


a{
  color: #ffeb3b;    
}

 .course-card {
    background-color: #f9edfa; /* Jasnoróżowe tło */
    border: 1px solid #ff69b4; /* Różowa ramka */
  }
  .course-card-header {
    background-color: #a970d4; /* Intensywny róż w nagłówku */
    color: white; /* Biały tekst */
  }
  .lesson-card-header {
    background-color: #a970d4; /* Intensywny róż w nagłówku */
    color: white; /* Biały tekst */
  }
  .instructor-card-header {
    background-color: #a970d4; /* Intensywny róż w nagłówku */
    color: white; /* Biały tekst */
  }
  .course-card-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .course-card-text {
    margin-bottom: 1rem; /* Odstęp między tekstami */
  }

  .card {
    background-color: #f9edfa; /* Jasnoróżowe tło */
    border: 1px solid #ff69b4; /* Różowa ramka */
  }

  .bg-pink {
  background-color: #a970d4 !important; /* Jasny różowy */
}

.table-pink th, .table-pink td {
  border-color: #f08080; /* Różowe obramowanie */
}

.table-pink tbody tr:nth-child(odd) {
  background-color: #f9edfb; /* Jasno różowe tło dla nieparzystych wierszy */
  border: 1px solid #ff69b4; /* Różowa ramka */
}

.table-pink tbody tr:nth-child(even) {
  background-color: #fac5f6; /* Jasny różowy tło dla parzystych wierszy */
  border: 1px solid #ff69b4; /* Różowa ramka */
}

.text-primary {
  color: #d63384 !important; /* Różowy tekst nagłówków */
}

.text-center {
  text-align: center;
}

.lesson-card {
    width: 100%;
}
    
i {
  cursor: pointer;
}




.tooltip-inner {
    background-color: #6a0dad !important; 
    color: pink !important;
    font-size: 14px; 
    padding: 8px;
    border-radius: 4px; 
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #6a0dad !important; 
}

.tooltip-custom + .tooltip.bs-tooltip-bottom {
    position: absolute !important;
    transform: translate3d(400px, 280px, 0px) !important;
    top: -50px !important;
    left: -170px !important;
    will-change: transform !important;
    z-index: 1000 !important;
}


.tooltip.bs-tooltip-bottom .tooltip-arrow {
  margin-top: 1000px !important; 
}

</style>

</head>

  <body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


 
  <div class="flash-messages">
      <% flash.each do |type, message| %>
        <% if type.in?(%w[success error]) && controller_name == 'admin' %>
          <div class="flash-message flash-<%= type %>">
            <%= message %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="flash-messages">
  <% flash.each do |type, message| %>
    <div class="flash-message flash-<%= type %>">
      <%= message %>
    </div>
  <% end %>
</div>

<div class="flash-messages">
  <% flash.each do |type, message| %>
    <% flash_class = case type.to_sym
                     when :notice then 'flash-success'
                     when :alert then 'flash-error'
                     else "flash-#{type}"
                     end %>
    <div class="flash-message <%= flash_class %>">
      <%= message %>
    </div>
  <% end %>
</div>





    <% if flash[:alert] %>
    <div class="flash-messages">
      <div class="flash-message flash-error">
        <%= flash[:alert] %>
      </div>
    </div>
  <% end %>

    <%= yield %>
 <script>
 document.addEventListener('DOMContentLoaded', () => {
  const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]:not(.tooltip-custom)'));
  tooltipTriggerList.forEach((tooltipTriggerEl) => {
    new bootstrap.Tooltip(tooltipTriggerEl);
  });
});
 </script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const specificTooltip = document.querySelector('.tooltip-custom');
    new bootstrap.Tooltip(specificTooltip, {
        placement: 'bottom',
        fallbackPlacements: []

  });
});
</script>
    <style>
    
    </style>
  </body>
</html>
